@page "/"

<PageTitle>Notes App</PageTitle>

<h1>Dobro došli!</h1>

<div class="image-container d-flex justify-content-center align-items-center">
    <img src="/images/check list.jpg" alt="logo">
</div>